/*******************************
            Global
*******************************/
/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

:root {
  --color-blue-light: #d9eeef;
  --color-green: #7bb58f;
  --color-green-dark: #6da07f;
  --color-black: #212629;
  --color-white: #ffffff;
  --border-radius: 2px;
}

html,
body {
  font-family: 'Lato', Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

body {
  min-height: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Merriweather', Times New Roman, serif;
}

.button {
  text-transform: uppercase;
  margin: 10px 0;
  border-radius: var(--border-radius);
  padding: 10px 20px;
  font-size: 0.5em;
}

.button-success {
  background-color: var(--color-green);
  border: 1px solid var(--color-green-dark);
  color: var(--color-white);
}

.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.card {
  width: 210px;
  margin: 20px 0;
  -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
  border-radius: var(--border-radius);
}

.card-header {
  display: flex;
  width: 100%;
  background-color: var(--color-black);
  justify-content: center;
  align-items: center;
  min-height: 150px;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}

.card-body {
  background-color: var(--color-white);
  padding: 20px;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.card-body h5 {
  margin: 2px 0;
}

.card-body p {
  font-size: 0.8em;
}

/*******************************
              Page
*******************************/

.hero {
  background-color: var(--color-blue-light);
  padding: 10px 0;
  position: relative;
}

.hero h1 {
  margin-top: 60px;
}

.hero p {
  width: 340px;
  line-height: 1.5em;
}

.hero-graphic {
  width: 100%;
  position: relative;
}

.hero-graphic > img {
  position: absolute;
  width: 380px;
  right: 0;
}

.page {
  margin-top: 90px;
}

.footer {
}

/*******************************
         Responsive
*******************************/

/* Small Monitor */
@media only screen and (min-width: 1025px) and (max-width: 1199px) {
}

/* Tablet */
@media screen and (max-width: 1024px) {
}

/* Mobile */
@media only screen and (max-width: 767px) {
}
